@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap');

*{
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
}

#app-image{
    width: 20px;
    height: 20px;
}